<!-- login.html -->
<html>
    {% include "base/head.html" %}
    <body>
        <a href="login">Login</a>

        <form method="POST" action="/login-input">

            <label for="email">Email:</label>
            <input type="text" name="email" id="email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
<!-- login.html -->