<!-- logs.html -->
<html>
    {% include "base/head.html" %}
    <body>
        <a href="/new-log">New log</a>
        {% for log in logs %}
            <form method="POST" action="/update-{{ log['id'] }}" class="logbox">
                <div>{{ log["food"] }} at {{ log["datetime_str"] }}</div>
                <div>{{ log["given_percent"] }}% of a packet given</div>
                <div><input type="range" min="10" max="100" step="10" value="100"></div>
                <div><a href="/edit-{{ log['id'] }}" class="btn btn-orange">Edit</a><button type="submit" class="btn btn-blue">Update</button></div>
            </form>
        {% endfor %}
    </body>
</html>
<!-- logs.html -->