<!-- logs.html -->
<html>
    {% include "base/head.html" %}
    <body>
        <a href="/new-log">New log</a>
        {% for log in logs %}
            <form method="POST" action="/update-{{ log['id'] }}" class="logbox">
                <div>{{ log["food"] }} at {{ log["datetime_str"] }}</div>
                <div>{{ log["given_percent"] }}% of a packet given</div>
                <div><input type="number" value="{{ log['eaten_percent'] }}" min="0" max="100"></div>
                <div><a href="/edit-{{ log['id'] }}">Edit</a><button type="submit">Update</button></div>
            </form>
        {% endfor %}
    </body>
</html>
<!-- logs.html -->