<!-- new-log.html -->
<html>
    {% include "base/head.html" %}
    <body>
        <form method="POST" action="/new-log-input">
            <label for="food">Food:</label>
            <select name="food" id="food">
                <option value="none" selected disabled>Select an option...</option>
                {% for food in foods %}
                <option value="{{ food }}">{{ food }}</option>
                {% endfor %}
            </select>

            <label for="new-food">New food <small>Only if not in list above</small></label>
            <input type="text" name="new-food" id="new-food">

            <label for="given_percent">Percentage given:</label>
            <input type="number" name="given_percent" id="given_percent" value="50" min="0" max="100" required>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
<!-- new-log.html -->